@import '../../styles/theme';

$color-background: map-get($palette-primary, 'm0');

.nav-bar {
  width: 100%;
  min-width: 32rem;
  height: 6rem;
  background-color: $color-background;
  box-shadow: 0.1rem 0.5rem 1.4rem rgba(0, 0, 0, 0.1);

  &__container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
